@page
@model UI_Assignment_2.Pages.CreateProgramModel
@{
}

<form  method="post">
    @Model.Message
    <table>
        <tr>
            <td>
            Program Code:
            </td>
            <td>
                <input type="text" value="" asp-for="ProgramCode"/>
                <span asp-validation-for="ProgramCode"></span>
            </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
            <td>
                <input type="text" asp-for="Description" value="" />
                <span asp-validation-for="Description"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>